<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a> |
            <a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
            <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2017 lovebebe.shop All Rights Reserved By Lucas Ma   ICP：浙ICP备18012309号
        </p>
        <p class="links"><a class="link" href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=4qymvm9n&utm_source=4qymvm9n">点击领取阿里云优惠券</a></p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>